<footer>
    <div class="container text-white font-weight-light pb-4" id="touch">
        <h2 class="h1 text-center py-5">Get In Touch</h2>
        <div class="row">
            <div class="offset-0 col-12 col-sm-6 offset-sm-1">
                <p>Address : sdfjkd sjdf , EGYPT</p>
                <p>Phone : +2 11111111</p>
                <p>Email@llll.cc</p>
            </div>
            <form action="messages.php" method="post" class="col-12 col-sm-5">

                <input name="name" type="text" class="bg-transparent form-control form-control-sm mb-3" placeholder="Name">
                <input name="email" type="email" class="bg-transparent form-control form-control-sm mb-3" placeholder="Email">
                <textarea name="msg" class="bg-transparent form-control form-control-sm mb-3" placeholder="Your Message"></textarea>
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">-->
<!--</script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">-->
<!--</script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script src="libs/jquery-3.2.1.min.js"></script>
<script src="libs/popper.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
</body>
</html>